<div class="bg-white px-3 py-6 text-gray-700 screen-size">
  <div
    class="flex flex-col mx-auto mt-4 max-w-[92.5rem] lg:justify-center lg:items-center"
  >
    <div class="p-10 mx-auto">
      <img
        src="../../assets/me.png"
        alt="Developer"
        class="w-[15rem] bg-red-100 gray-scale object-cover rounded-full mb-10"
      />
    </div>
    <div class="flex flex-col px-6">
      <h1
        class="text-5xl md:text-[4rem] leading-[4rem] text-center text-gray-800 font-bold"
      >
        Hello there, I'm <span class="text-orange-600">Stranger</span>
      </h1>

      <h3
        class="text-2xl mx-auto text-center text-gray-600 mt-10 md:mt-[2rem] md:my-4"
      >
        Software Developer | JavaScript Enthusiast
      </h3>

      <p
        class="text-left tex-md mx-auto px-10 md:px-0 md:text-xl md:max-w-[30rem] xl:max-w-[40rem] mt-8 text-gray-600"
      >
        I'm a Software Developer based in Cape Town, South Africa 🇿🇦,
        specializing in building robust, scalable applications using the latest
        technologies and best practices.
        <br />
      </p>

      <div
        class="flex flex-col w-[60%] md:w-fit mb-5 mx-auto md:flex-row space-y-3 md:space-y-0 mt-10"
      >
        <a
          href="javascript:void(0)"
          [routerLink]="['/contact']"
          class="bg-black text-white py-3 px-10 rounded-lg text-lg font-semibold"
          >Hire me</a
        >
        <!-- <a
          href="../../assets/Stranger.pdf"
          download
          class="bg-transparent text-black py-3 px-4 rounded-lg text-lg font-semibold ml-4"
          >Download CV</a
        > -->
      </div>
    </div>
  </div>
</div>
