<div class="bg-white px-3 py-6 text-gray-700 screen-size">
  <div
    class="flex flex-col md:flex-row mx-auto mt-4 max-w-[92.5rem] justify-center items-center"
  >
    <div class="w-1/2 h-[40rem] flex flex-col mt-[8rem] px-6">
      <h1 class="text-[4rem] text-left text-gray-800 font-bold">Hi there</h1>
      <h2 class="text-[4rem] text-left text-gray-800 font-bold">
        I'm Stranger 👋
      </h2>

      <h3 class="text-2xl text-left text-gray-600 my-4">
        Web Developer | JavaScript Enthusiast
      </h3>

      <p class="text-left text-xl max-w-lg mt-8 text-gray-600">
        I'm a web developer based in Cape Town, South Africa 🇿🇦. I specialize in
        building websites and web applications using modern technologies like
        GraphQL, Angular, and Node.js.
      </p>

      <!-- socials -->
      <div class="flex items-center space-x-4 mt-10">
        <img
          src="../../assets/github.svg"
          alt="Github link"
          class="w-8 cursor-pointer"
        />
        <img
          src="../../assets/linkedin.svg"
          alt="Linkedin link"
          class="w-8 cursor-pointer"
        />
      </div>

      <div class="flex mt-10">
        <a
          href="#"
          class="bg-black text-white py-3 px-10 rounded-lg text-lg font-semibold"
          >Hire me</a
        >
        <a
          href="#"
          class="bg-transparent text-black py-3 px-4 rounded-lg text-lg font-semibold ml-4"
          >Download CV</a
        >
      </div>
    </div>
    <div class="w-1/2 rounded-t-full group">
      <div
        class="border-2 border-purple-600 h-64 bg-purple-800 relative rounded-full w-[50rem] flex items-center justify-center"
      >
        <img
          src="../../assets/me.png"
          alt="Developer"
          class="h-[46rem] z-1 w-full group-hover: gray-scale object-cover rounded-full mb-20"
        />

        <div class="languages">
          <img
            src="../../assets/node.png"
            alt="a"
            class="absolute top-[20rem] left-[50rem] w-[5rem]"
          />
          <img
            src="../../assets/ts.png"
            alt="a"
            class="absolute top-[-10rem] right-[36rem] w-[5rem]"
          />

          <img
            src="../../assets/javascript.png"
            alt="a"
            class="absolute top-[0rem] right-[10rem] w-[5rem]"
          />

          <img
            src="../../assets/angular.png"
            alt="a"
            class="absolute top-[10rem] right-[40rem] w-[5rem]"
          />

          <img
            src="../../assets/graphql.png"
            alt="a"
            class="absolute top-[-10rem] right-[0rem] w-[5rem]"
          />

          <img
            src="../../assets/psql.png"
            alt="a"
            class="absolute top-[20rem] right-[20rem] w-[5rem]"
          />

          <img
            src="../../assets/aws.png"
            alt="a"
            class="absolute top-[-15rem] right-[10rem] w-[5rem]"
          />
        </div>
      </div>
    </div>
  </div>
</div>
