<div class="max-w-3xl mt-10 p-4 mx-auto px-10">
  <h1 class="text-4xl font-bold text-center mt-4 mb-[4rem]">Work history</h1>
  <ol class="relative border-s px-2 border-gray-700">
    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-900 bg-blue-900"
      >
        <svg
          class="w-2.5 h-2.5 text-blue-300"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          />
        </svg>
      </span>
      <h3
        class="flex items-center mb-1 text-lg pb-3 font-semibold text-gray-900"
      >
        Senior Software Developer at JOBJACK.
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-500"
        >2021 - Current</time
      >
      <div
        class="mb-4 text-base font-normal pt-4 text-gray-500 dark:text-gray-400"
      >
        <ul class="flex flex-col space-y-3">
          <li>
            - Collaborate with product managers, designers, and other
            stakeholders to drive product growth and deliver innovative
            solutions.
          </li>
          <li>
            - Develop and optimize front-end and back-end components to enhance
            performance and user experience.
          </li>
          <li>
            - Conduct code reviews and provided constructive feedback to team
            members.
          </li>
          <li>
            - Integrate third-party APIs and services to extend application
            functionality.
          </li>
          <li>
            - Mentor and train junior developers, fostering a culture of
            continuous learning and improvement.
          </li>
        </ul>
      </div>
    </li>
    <!-- 02 -->

    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-900 bg-blue-900"
      >
        <svg
          class="w-2.5 h-2.5 text-blue-300"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          />
        </svg>
      </span>
      <h3
        class="flex items-center mb-1 pb-3 text-lg font-semibold text-gray-900"
      >
        Software Developer at ORACLE.
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-500"
        >2020 - 2021</time
      >
      <div
        class="mb-4 text-base pt-4 font-normal text-gray-500 dark:text-gray-400"
      >
        <ul class="flex flex-col space-y-3">
          <li>
            - Implemented and updated application modules under the direction of
            Senior Developers.
          </li>
          <li>
            - Created and maintained technical documentation to support ongoing
            development and future enhancements.
          </li>
          <li>
            - Participated in agile development processes, including daily
            stand-ups, sprint planning, and retrospectives.
          </li>
          <li>
            - Participated in code reviews, providing feedback and suggestions
            to improve code quality and maintainability.
          </li>
        </ul>
      </div>
    </li>
    <!-- 03 -->

    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 ring-8 ring-gray-900 bg-blue-900"
      >
        <svg
          class="w-2.5 h-2.5 text-blue-300"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          />
        </svg>
      </span>
      <h3
        class="flex items-center mb-1 pb-3 text-lg font-semibold text-gray-900"
      >
        Tutor at University of Limpopo.
      </h3>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-500"
        >2017 - 2020</time
      >
      <div
        class="mb-4 text-base pt-4 font-normal text-gray-500 dark:text-gray-400"
      >
        <ul class="flex flex-col space-y-3">
          <li>
            - Provided one-on-one and group tutoring sessions in programming
            languages such as C#, Java, C++ and Python.
          </li>
          <li>
            - Developed customized lesson plans to meet individual student needs
            and learning styles.
          </li>
          <li>
            - Assisted students with understanding fundamental programming
            concepts, debugging code, and completing assignments.
          </li>
          <li>- Helped students prepare for exams.</li>
        </ul>
      </div>
    </li>
  </ol>
</div>
