<div class="bg-gray-600">
  <div
    class="flex flex-col justify-end text-white py-3 space-y-1 md:flex-row md:space-y-0 md:space-x-2"
  >
    <div class="flex items-center mx-auto space-x-4">
      <a href="https://github.com/strangermushwana" target="_blank">
        <img
          src="../../assets/github.svg"
          alt="Github link"
          class="w-8 cursor-pointer"
        />
      </a>
      <a href="https://www.linkedin.com/in/strangermushwana" target="_blank">
        <img
          src="../../assets/linkedin.svg"
          alt="LinkedIn link"
          class="w-8 cursor-pointer"
        />
      </a>
      <a href="https://www.credly.com/users/stranger/badges" target="_blank">
        <img
          src="../../assets/credly.svg"
          alt="Twitter link"
          class="w-8 cursor-pointer"
        />
      </a>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
